<!DOCTYPE html>

html
    head(charset="utf-8")
    title 404 - Not Found
    link(rel="stylesheet", href="/css/style.css")

    body
        span Erro: 404 Not Found. Ops! Esta página não existe!  :(

    

